body {
    background-color: #f0f8ff; /* Fundo azul clarinho */
    text-align: center; /* Centraliza o texto */
    font-family: Arial, sans-serif; /* Fonte bonita */
    margin: 0;
    padding: 0;
}

h1 {
    color: #2c3e50; /* Cor do título */
    margin-top: 50px;
}

p {
    color: #34495e; /* Cor do parágrafo */
    margin-top: 20px;
}
